/*Global Styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 2.6rem;
}

li,
button,
input,
label,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 27, 27);
}

/*Nav Section*/
.main-header {
    background: #131c27;
    color: #fff;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 2rem;
    min-height: 5vh;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Lobster', cursive;
    font-weight: 500;
}

.hero {
    min-height: 93vh;
    background: linear-gradient(rgb(0, 0, 0, 0.5), transparent), url('../images/landing-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: #fff;
    font-size: 1.85rem;
    cursor: pointer;
    transition: background ease-in-out 0.5s;
    animation: button 1.5s infinite alternate 2s;
}

button:hover {
    background: #27394a;
}

button:focus {
    background: rgb(146, 28, 28);
}

/*locations section*/
#locations {
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.5), transparent), url('../images/new-york-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90%;
    margin: auto;
}

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
}

.locations-head h3 {
    padding: 4rem 0rem;
    color: linear-gradient(#131c27, #663b34);
    background-clip: text;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

.moving-cloud-1 {
    z-index: -1;
}

.moving-cloud-2 {
    top: 20%;
    z-index: -2;
    opacity: 0.5;
}

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 00%);
    }
}

@keyframes button {
    0% {
        background: rgb(165, 227, 248);
    }

    25% {
        background: rgb(147, 209, 229);
    }

    75% {
        background: rgb(116, 202, 231);
    }

    100% {
        background: rgb(80, 191, 228);
    }
}



/*media query*/
@media screen and (max-width: 950px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 1rem;
    }

    .cloud {
        height: 50rem;
        pointer-events: none;
    }

    .locations-head h3 {
        color: white;
        background: rgba(19, 28, 39, 0.8);
    }
}